<!DOCTYPE html>
<html ng-app="SDMMainPage">
<head lang="en">
    <meta charset="UTF-8">

    <!-- Core libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <!-- Script files -->
    <script src="mainpage/Scripts/app.js"></script>
    <script src="mainpage/Scripts/Controllers/MainCtrl.js"></script>
    <script src="mainpage/Scripts/Controllers/FrontpageCtrl.js"></script>
    <script src="mainpage/Scripts/Controllers/CreatePageCtrl.js"></script>
    <script src="mainpage/Scripts/Services/HTTPService.js"></script>
    <script src="mainpage/Scripts/Directives/TopFillerResizeDir.js"></script>
    <script src="mainpage/Scripts/Directives/WindowResizeDir.js"></script>
    <script src="mainpage/Libs/timezones.js"></script>

    <!-- Style files -->
    <!--<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
    <!--<link href="mainpage/Styles/jquerysctipttop.css" rel="stylesheet" type="text/css">-->

    <!-- Style files -->
    <link rel="stylesheet" type="text/css" href="mainpage/Styles/MainPageStyle.css">
    <link rel="stylesheet" type="text/css" href="mainpage/Styles/CreatePageStyle.css">
    <link rel="stylesheet" type="text/css" href="mainpage/Styles/FrontPageStyle.css">

    <!--<base href="/">-->
    <title>Found A Funny</title>
</head>
<body ng-controller="MainCtrl">



<!-- Welcome page-->
<div ng-controller="FrontPageCtrl" windowresize ng-style="{'height': bgHeight, 'background': 'lightblue'}" ng-controller="FrontPageCtrl">
    <div class="topfiller" ng-style="{'height': topFillerHeight}" topfillerresize></div>
    <div id="fpContentDiv">
        <div id="fpExplanationContainer" class="container">
            <p>Welcome to Found A Funny!</p>
            <p>At Found A Funny you can generate your own real time updating internet resource sharer page</p>
            <p>Once generated, share your page url with someone. They will be able to see the currently shared resource, as
                well as share resources of their own</p>
            <p>Have Fun! :)</p>
            <button id="fpCreatePageButton" ng-click="click()">Generate New Page Now!</button>
        </div>
        <div id="fpSeparator"></div>
        <div id="fpImageContainer" class="container">
            <!-- FaF gallery -->
            <div style="margin: 10px;">FaF gallery here</div>
        </div>
    </div>
</div>


<!-- Create page -->
<div ng-controller="CreatePageCtrl" windowresize ng-style="{'height': bgHeight, 'background': 'lightgreen'}" ng-controller="CreatePageCtrl">
    <div class="topfiller" ng-style="{'height': topFillerHeight}" topfillerresize></div>
    <div id="cpContentDiv" class="container">
        <p>Pick a name for your page</p>
        <input id="cpNameInput" type="text" ng-model="Pagename">
        <p ng-show="ShowIllegalPagename" class="cpErrorMessage">Only letters, numbers, dash and underscore allowed in name</p>
        <p ng-show="ShowPagenameAlreadyTaken" class="cpErrorMessage">Name already taken</p>

        <p>Pick the timezone your page should use</p>
        <select id="cpTimeZoneSelect" class="form-control">
            <option data-offset="-11:00" value="Pacific/Midway">(UTC-11:00) Midway Island, American Samoa</option>
            <option data-offset="-10:00" value="Pacific/Honolulu">(UTC-10:00) Hawaii</option>
            <option data-offset="-08:00" value="America/Anchorage">(UTC-08:00) Alaska</option>
            <option data-offset="-07:00" value="America/Tijuana">(UTC-07:00) Baja California</option>
            <option data-offset="-07:00" value="America/Los_Angeles">(UTC-07:00) Pacific Time (US and Canada)</option>
            <option data-offset="-07:00" value="America/Phoenix">(UTC-07:00) Arizona</option>
            <option data-offset="-06:00" value="America/Chihuahua">(UTC-06:00) Chihuahua, La Paz, Mazatlan</option>
            <option data-offset="-06:00" value="America/Denver">(UTC-06:00) Mountain Time (US and Canada)</option>
            <option data-offset="-06:00" value="America/Belize">(UTC-06:00) Central America</option>
            <option data-offset="-06:00" value="America/Regina">(UTC-06:00) Saskatchewan</option>
            <option data-offset="-05:00" value="America/Chicago">(UTC-05:00) Central Time (US and Canada)	</option>
            <option data-offset="-05:00" value="America/Mexico_City">(UTC-05:00) Guadalajara, Mexico City, Monterrey</option>
            <option data-offset="-05:00" value="America/Bogota">(UTC-05:00) Bogota, Lima, Quito</option>
            <option data-offset="-05:00" value="America/Jamaica">(UTC-05:00) Kingston, George Town</option>
            <option data-offset="-04:30" value="America/Caracas">(UTC-04:30) Caracas</option>
            <option data-offset="-04:00" value="America/New_York">(UTC-04:00) Eastern Time (US and Canada)</option>
            <option data-offset="-04:00" value="America/Indiana/Indianapolis">(UTC-04:00) Indiana (East)</option>
            <option data-offset="-04:00" value="America/Asuncion">(UTC-04:00) Asuncion</option>
            <option data-offset="-04:00" value="America/Cuiaba">(UTC-04:00) Cuiaba</option>
            <option data-offset="-04:00" value="America/Manaus">(UTC-04:00) Georgetown, La Paz, Manaus, San Juan</option>
            <option data-offset="-03:00" value="America/Halifax">(UTC-03:00) Atlantic Time (Canada)</option>
            <option data-offset="-03:00" value="America/Sao_Paulo">(UTC-03:00) Brasilia</option>
            <option data-offset="-03:00" value="America/Buenos_Aires">(UTC-03:00) Buenos Aires</option>
            <option data-offset="-03:00" value="America/Cayenne">(UTC-03:00) Cayenne, Fortaleza</option>
            <option data-offset="-03:00" value="America/Montevideo">(UTC-03:00) Montevideo</option>
            <option data-offset="-03:00" value="America/Bahia">(UTC-03:00) Salvador</option>
            <option data-offset="-03:00" value="America/Santiago">(UTC-03:00) Santiago</option>
            <option data-offset="-02:30" value="America/St_Johns">(UTC-02:30) Newfoundland and Labrador</option>
            <option data-offset="-02:00" value="America/Godthab">(UTC-02:00) Greenland</option>
            <option data-offset="-02:00" value="America/Noronha">(UTC-02:00) Mid-Atlantic</option>
            <option data-offset="-01:00" value="Atlantic/Cape_Verde">(UTC-01:00) Cape Verde Islands</option>
            <option data-offset="+00:00" value="Atlantic/Azores">(UTC+00:00) Azores</option>
            <option data-offset="+00:00" value="Africa/Monrovia">(UTC+00:00) Monrovia, Reykjavik</option>
            <option data-offset="+01:00" value="Europe/London">(UTC+01:00) Dublin, Edinburgh, Lisbon, London</option>
            <option data-offset="+01:00" value="Africa/Casablanca">(UTC+01:00) Casablanca</option>
            <option data-offset="+01:00" value="Africa/Algiers">(UTC+01:00) West Central Africa</option>
            <option data-offset="+02:00" value="Europe/Amsterdam">(UTC+02:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
            <option data-offset="+02:00" value="Europe/Belgrade">(UTC+02:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
            <option data-offset="+02:00" value="Europe/Brussels">(UTC+02:00) Brussels, Copenhagen, Madrid, Paris</option>
            <option data-offset="+02:00" value="Europe/Warsaw">(UTC+02:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
            <option data-offset="+02:00" value="Africa/Windhoek">(UTC+02:00) Windhoek</option>
            <option data-offset="+02:00" value="Africa/Cairo">(UTC+02:00) Cairo</option>
            <option data-offset="+02:00" value="Africa/Harare">(UTC+02:00) Harare, Pretoria</option>
            <option data-offset="+02:00" value="Europe/Kaliningrad">(UTC+02:00) Kaliningrad</option>
            <option data-offset="+02:00" value="Africa/Tripoli">(UTC+02:00) Tripoli</option>
            <option data-offset="+03:00" value="Europe/Athens">(UTC+03:00) Athens, Bucharest</option>
            <option data-offset="+03:00" value="Asia/Beirut">(UTC+03:00) Beirut</option>
            <option data-offset="+03:00" value="Asia/Damascus">(UTC+03:00) Damascus</option>
            <option data-offset="+03:00" value="EET">(UTC+03:00) Eastern Europe</option>
            <option data-offset="+03:00" value="Europe/Helsinki">(UTC+03:00) Helsinki, Kiev, Riga, Sofia, Tallinn, Vilnius</option>
            <option data-offset="+03:00" value="Asia/Istanbul">(UTC+03:00) Istanbul</option>
            <option data-offset="+03:00" value="Asia/Jerusalem">(UTC+03:00) Jerusalem</option>
            <option data-offset="+03:00" value="Asia/Amman">(UTC+03:00) Amman</option>
            <option data-offset="+03:00" value="Asia/Baghdad">(UTC+03:00) Baghdad</option>
            <option data-offset="+03:00" value="Asia/Kuwait">(UTC+03:00) Kuwait, Riyadh</option>
            <option data-offset="+03:00" value="Europe/Minsk">(UTC+03:00) Minsk</option>
            <option data-offset="+03:00" value="Europe/Moscow">(UTC+03:00) Moscow, St. Petersburg, Volgograd</option>
            <option data-offset="+03:00" value="Africa/Nairobi">(UTC+03:00) Nairobi</option>
            <option data-offset="+04:00" value="Asia/Muscat">(UTC+04:00) Abu Dhabi, Muscat</option>
            <option data-offset="+04:00" value="Europe/Samara">(UTC+04:00) Izhevsk, Samara</option>
            <option data-offset="+04:00" value="Indian/Mauritius">(UTC+04:00) Port Louis</option>
            <option data-offset="+04:00" value="Asia/Tbilisi">(UTC+04:00) Tbilisi</option>
            <option data-offset="+04:00" value="Asia/Yerevan">(UTC+04:00) Yerevan</option>
            <option data-offset="+04:30" value="Asia/Tehran">(UTC+04:30) Tehran</option>
            <option data-offset="+04:30" value="Asia/Kabul">(UTC+04:30) Kabul</option>
            <option data-offset="+05:00" value="Asia/Baku">(UTC+05:00) Baku</option>
            <option data-offset="+05:00" value="Asia/Tashkent">(UTC+05:00) Tashkent, Ashgabat</option>
            <option data-offset="+05:00" value="Asia/Yekaterinburg">(UTC+05:00) Ekaterinburg</option>
            <option data-offset="+05:00" value="Asia/Karachi">(UTC+05:00) Islamabad, Karachi</option>
            <option data-offset="+05:30" value="Asia/Kolkata">(UTC+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
            <option data-offset="+05:30" value="Asia/Colombo">(UTC+05:30) Sri Jayawardenepura</option>
            <option data-offset="+05:45" value="Asia/Katmandu">(UTC+05:45) Kathmandu</option>
            <option data-offset="+06:00" value="Asia/Almaty">(UTC+06:00) Astana</option>
            <option data-offset="+06:00" value="Asia/Dhaka">(UTC+06:00) Dhaka</option>
            <option data-offset="+06:00" value="Asia/Novosibirsk">(UTC+06:00) Novosibirsk</option>
            <option data-offset="+06:30" value="Asia/Rangoon">(UTC+06:30) Yangon (Rangoon)</option>
            <option data-offset="+07:00" value="Asia/Bangkok">(UTC+07:00) Bangkok, Hanoi, Jakarta</option>
            <option data-offset="+07:00" value="Asia/Krasnoyarsk">(UTC+07:00) Krasnoyarsk</option>
            <option data-offset="+08:00" value="Asia/Chongqing">(UTC+08:00) Beijing, Chongqing, Hong Kong SAR, Urumqi</option>
            <option data-offset="+08:00" value="Asia/Irkutsk">(UTC+08:00) Irkutsk</option>
            <option data-offset="+08:00" value="Asia/Kuala_Lumpur">(UTC+08:00) Kuala Lumpur, Singapore</option>
            <option data-offset="+08:00" value="Australia/Perth">(UTC+08:00) Perth</option>
            <option data-offset="+08:00" value="Asia/Taipei">(UTC+08:00) Taipei</option>
            <option data-offset="+09:00" value="Asia/Ulaanbaatar">(UTC+09:00) Ulaanbaatar</option>
            <option data-offset="+09:00" value="Asia/Tokyo">(UTC+09:00) Osaka, Sapporo, Tokyo</option>
            <option data-offset="+09:00" value="Asia/Seoul">(UTC+09:00) Seoul</option>
            <option data-offset="+09:00" value="Asia/Yakutsk">(UTC+09:00) Yakutsk</option>
            <option data-offset="+09:30" value="Australia/Adelaide">(UTC+09:30) Adelaide</option>
            <option data-offset="+09:30" value="Australia/Darwin">(UTC+09:30) Darwin</option>
            <option data-offset="+10:00" value="Australia/Brisbane">(UTC+10:00) Brisbane</option>
            <option data-offset="+10:00" value="Australia/Canberra">(UTC+10:00) Canberra, Melbourne, Sydney</option>
            <option data-offset="+10:00" value="Pacific/Guam">(UTC+10:00) Guam, Port Moresby</option>
            <option data-offset="+10:00" value="Australia/Hobart">(UTC+10:00) Hobart</option>
            <option data-offset="+10:00" value="Asia/Magadan">(UTC+10:00) Magadan</option>
            <option data-offset="+10:00" value="Asia/Vladivostok">(UTC+10:00) Vladivostok, Magadan</option>
            <option data-offset="+11:00" value="Asia/Srednekolymsk">(UTC+11:00) Chokirdakh</option>
            <option data-offset="+11:00" value="Pacific/Guadalcanal">(UTC+11:00) Solomon Islands, New Caledonia</option>
            <option data-offset="+12:00" value="Asia/Anadyr">(UTC+12:00) Anadyr, Petropavlovsk-Kamchatsky</option>
            <option data-offset="+12:00" value="Pacific/Auckland">(UTC+12:00) Auckland, Wellington</option>
            <option data-offset="+12:00" value="Pacific/Fiji">(UTC+12:00) Fiji Islands, Kamchatka, Marshall Islands</option>
            <option data-offset="+13:00" value="Pacific/Tongatapu">(UTC+13:00) Nuku'alofa</option>
            <option data-offset="+13:00" value="Pacific/Apia">(UTC+13:00) Samoa</option>
        </select>

        <button id="cpCreatePageBtn" ng-click="CreatePage()">Finnish Generating Page!</button>

        <p ng-show="ShowGeneratingPage">Generating Page. Please wait...</p>
        <div id="cpShowPageUrl" ng-show="ShowPageUrl">
            <p class="cpSuccessMessage">Page generation successful! The url of your new page is:</p>
            <input id="cpNewPageUrlBox" type="text" ng-model="NewPageUrl" readonly="readonly"/>
        </div>
    </div>
</div>

</body>
</html>