<span>Welcome to Found A Funny!</span>
<p>At Found A Funny you can generate your own internet resource viewer page,
    which instantly updates all open instances of your page upon new resource insertion.
    To display a resource, such as a picture or Youtube clip, you simply copy-paste the
    url into the insertion box. The main use-case is quick displaying of an internet
    resource to a group of people on a central monitor.
</p>

<p style="height: 300px;">// Picture gallery with pictures of a FaF page, once it's done</p>

<button id="fpCreatePageButton" ng-click="click()">
    Generate New Page
</button>
