#cpNewPageUrlBox {
    width: 300px;
}
#cpCreatePageBtn {
    font-size: 18px;
    margin-bottom: 20px;
}
#cpContentDiv {
    width: 350px;
    margin: auto;
}
.cpErrorMessage {
    color: red;
    font-size: 14px;
    margin-top: -15px;
}
.cpSuccessMessage {
    color: green;
}
#cpShowPageUrl {
    margin-bottom: 10px;
}
#cpNameInput {
    margin-bottom: 20px;
    width: 330px;
    font-size: 16px;
}
#cpTimeZoneSelect {
    margin-bottom: 40px;
    width: 330px;
}