<p>Add/delete timer {{DialogCaller}} content</p>
<label style="padding-bottom: 10px" class="input-append">
        <input class="AddRemoveContentDialogInput" type="text" placeholder="Add Content To List"
               ng-model="$parent.AddDialogInput" ng-keypress="DialogAddContentKeyPress($event)"/>
        <span class="add-on" style="height: 30px;" ng-mouseenter="AdditionIconMouseEnter()"
              ng-mouseleave="AdditionIconMouseLeave()" ng-click="DialogAddContent()">
            <img style="width: 16px; height: 16px;" ng-src="{{AdditionIconSrc}}" />
        </span>
</label>

<div class="SetTimerBorderBox VerticalScroll" style="height: 150px;">
    <div ng-repeat="c in AddDialogContentArray track by $index" style="padding-bottom: 3px">
        <label style="display: inline-flex;" ng-click="DialogRemoveListItem($index)">
            <p class="AddRemoveContentDialogListItem EllipsisOverflow">{{c}}</p>
            <img src="pages/Pics/TrashBinBlack.png">
        </label>
        <div class="AddRemoveContentDialogItemSeparater"></div>
    </div>
</div>

<div class="ngdialog-buttons">
    <button ng-click="closeThisDialog(0)" class="ngdialog-button ngdialog-button-secondary">Revert</button>
    <button ng-click="closeThisDialog(1)" class="ngdialog-button ngdialog-button-primary">Save</button>
</div>