<p>Add/delete timer {{DialogCaller}} content</p>
<label style="padding-bottom: 10px" class="input-append">
        <input class="SetTimerDialogInput" type="text" placeholder="Add Content To List"
               ng-model="$parent.AddDialogInput" ng-keypress="DialogAddContentKeyPress($event)"/>
            <span class="add-on" style="height: 30px;" ng-click="DialogAddContent()">
            <img style="width: 16px; height: 16px;" src="pages/Pics/AdditionGreen.png" />
        </span>
</label>

<div class="SetTimerBorderBox SetTimerDialogScrollBar">
    <!--<div style="">-->
        <div ng-repeat="c in AddDialogContentArray track by $index" style="padding-bottom: 3px">
            <label style="display: inline-flex;" ng-click="DialogRemoveListItem($index)">
                <p class="SetTimerDialogListItem">{{c}}</p>
                <img src="pages/Pics/TrashBinBlack.png">
            </label>
            <div style="height: 1px; width: 400px; background: #999;"></div>
        </div>
    <!--</div>-->
</div>

<div class="ngdialog-buttons">
    <button ng-click="closeThisDialog(0)" class="ngdialog-button ngdialog-button-secondary">Revert</button>
    <button ng-click="closeThisDialog(1)" class="ngdialog-button ngdialog-button-primary">Save</button>
</div>