#cpNewPageUrlBox {
    width: 300px;
}
#cpCreatePageBtn {
    font-size: 18px;
    margin-bottom: 20px;
}
.cpErrorMessage {
    color: red;
    font-size: 14px;
    margin-top: -15px;
}
.cpSuccessMessage {
    color: green;
}