<iframe resize ng-style="{'height': finalHeight, 'width': finalWidth}"
        class="videoplayer" ng-src="{{videoUrl}}" frameborder="0"
        allowfullscreen webkitallowfullscreen mozallowfullscreen>
    Update your browser to use this page
</iframe>

<!--<iframe class="videoplayer" src="http://player.twitch.tv/?channel=rootcatz" height="423" width="752"-->
        <!--frameborder="0" scrolling="no" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen=""></iframe>-->

<!--<iframe resize ng-style="{'height': finalHeight, 'width': finalWidth}" ng-src="{{videoUrl}}" allowfullscreen>-->
    <!--Update your browser!-->
<!--</iframe>-->

